*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    height: 500px;
    border-radius: 10px;
    display: flex;
}

.imagem{
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.imagem-mobile{
    display: none;
}

.informations{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.titulo{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 800;
    font-size: 36px;
}

.description{
    color: hsl(228, 12%, 48%);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.price{
    display: flex;
}

.destacado{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 800;
}

.riscado{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    font-size: 14px;
    padding-left: 22px;
    padding-top: 12px;
}

.material-symbols-outlined{
    color: hsl(0, 0%, 100%);
    margin: 8px;
}

.botao{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    height: 50px;
    width: 260px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao:hover{
    background-color: hsl(212, 21%, 14%);
    transition: .4s;
    cursor: pointer;
}


@media only screen and (max-width: 960px) {

    body{
        height: 700px;
        width: 300px;
    }

    .container{
        width: 280px;
        height: 640px;
        display: block;
    }    

    .imagem{
        display: none;
    }

    .imagem-mobile{
        display: block;
        height: 215px;
        width: 280px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .informations{
        padding: 20px;
    }

    .produto{
        font-size: 10px;
    }

    .titulo{
        font-size: 28px;
    }

    .description{
        font-size: 14px;
    }

    .destacado{
        font-size: 25px;
    }

    .riscado{
        font-size: 15px;
    }

    .botao{
        width: 240px;
    }

}