*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.card{
    width: 304px;
    height: 486px;
    background-color: hsl(0, 0%, 100%);
    padding: 14px;
    border-radius: 15px;
    display: block;
    text-align: center;
    -webkit-box-shadow: 2px 2px 24px -10px hsl(220, 15%, 55%); 
    box-shadow: 2px 2px 24px -10px hsl(220, 15%, 55%);
}

.imagem{
    border-radius: 15px;
    width: 275px;
    height: 275px;
    margin-bottom: 10px;
}

.tituloCard{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    padding: 12px;
}

.textoCard{
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 6px;
}