*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%); 
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 650px; 
}

.card{
    padding: 22px;
    background-color: hsl(213, 19%, 18%);
    height: 370px;
    width: 360px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.star{
    background-color: hsl(206deg 12% 22%);
    border-radius: 100%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-card{
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.text-card{
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.avaliation{
    display: flex;
    justify-content: space-between;
}

.rating-number{
    background-color: hsl(206deg 12% 22%);
    color: hsl(217, 12%, 63%);
    border-radius: 100%;
    font-family: 'Overpass', sans-serif;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-number:hover{
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%); 
}

.rating-number:active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.botao{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    height: 46px;
    width: 310px;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    border-radius: 25px;
}

.botao:active{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}


