*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*
background-color: hsl(204, 43%, 93%);
background-color: hsl(218, 22%, 67%);
background-color: hsl(71, 73%, 54%);
background-color: hsl(179, 62%, 43%); 
font-size: 16px;
font-family: 'Karla', sans-serif;
*/

body{
    background-color: hsl(204, 43%, 93%);
    display: grid;
    grid-template-columns: 20%, 20%, 20%, 20%, 20%;
    grid-template-rows: 20%, 20%, 20%, 20%, 20%;
}

.container{
    height: 500px;
    width: 600px;
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
    background-color: hsl(204, 43%, 93%);
}

.primeiro-titulo{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(179, 100%, 30%);
}

.sub-titulo{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: hsl(71, 73%, 54%);
}

.primeiro-texto{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: hsl(218, 22%, 67%);
}

.baixo-esquerda{
    background-color: hsl(179, 100%, 30%);
}

.segundo-titulo{
    color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.mes{
    color: hsl(218, 22%, 67%);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.price{
    color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.segundo-texto{
    color: hsl(204, 43%, 93%);  
    font-family: 'Karla', sans-serif;
    font-weight: 400; 
}

.botao{
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.baixo-direita{
    background-color: hsl(179, 62%, 43%);
}

.terceiro-titulo{
    color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}