*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 650px;
    background-color: hsl(204, 43%, 93%);
    display: grid;
    grid-template-columns: 20%, 20%, 20%, 20%, 20%;
    grid-template-rows: 20%, 20%, 20%, 20%, 20%;
}

.container{
    height: 450px;
    width: 600px;
    border-radius: 10px;  
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 20%, 20%, 20%, 20%, 20%;
    grid-template-rows: 20%, 20%, 20%, 20%, 20%;
    grid-column: 2/3;
    grid-row: 2/3;
}

.topo{
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    grid-row: 1/4;
    padding: 38px;
}

.primeiro-titulo{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(179, 100%, 30%);
}

.sub-titulo{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: hsl(71, 73%, 54%);
}

.primeiro-texto{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: hsl(218, 22%, 67%);
    font-size: 16px;
}

.baixo-esquerda{
    background-color: hsl(179, 100%, 30%);
    border-bottom-left-radius: 8px;
    padding: 30px;
}

.segundo-titulo{
    color: hsl(0, 0%, 100%);  
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.mes{
    color: hsl(218, 22%, 67%);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.price{
    color: hsl(0, 0%, 100%);  
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.segundo-texto{
    color: hsl(0, 0%, 100%);    
    font-family: 'Karla', sans-serif;
    font-weight: 400; 
}

.botao{
    background-color: hsl(71, 73%, 54%);
    color: hsl(0, 0%, 100%);  
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
    border-radius: 6px;
}

.baixo-direita{
    background-color: hsl(179, 62%, 43%);
    border-bottom-right-radius: 8px;
    padding: 30px;
}

.terceiro-titulo{
    color: hsl(0, 0%, 100%);  
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

.texto-paragrafo{
    color: hsl(0, 0%, 100%);  
    font-family: 'Karla', sans-serif;
    font-weight: 400; 
    list-style: none;
}